{% load static %} 
   
    <section id="about" class="about">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
              <img src="{% static 'img/about.avif' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
              <h3>Yelagiri travels</h3>
              <p class="fst-italic">
                Car travel is a popular and flexible mode of transportation that offers the freedom to explore various destinations at your own pace. Whether it's a road trip for leisure, a commute to work, or a journey through scenic landscapes, car travel provides a unique and personalized experience.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Flexibility and Convenience.</li>
                <li><i class="bi bi-check-circle"></i> lower transportation costs.</li>
                <li><i class="bi bi-check-circle"></i> Variety of Vehicle Options.</li>
                <li><i class="bi bi-check-circle"></i> Access to Various Locations.</li>
                <li><i class="bi bi-check-circle"></i> 24/7 Availability.</li>
                <li><i class="bi bi-check-circle"></i> Ease of Booking.</li>
              </ul>
              <p>
                It involves addressing the needs of both drivers and riders while emphasizing safety, 
                reliability,and convenience. Regular updates and improvements based on user feedback and changing transportation trends are 
                essential for the sustained success of such platforms.
              </p>
            </div>
          </div>
  
        </div>
      </section>