    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <span>Contact</span>
            <h2>Contact</h2>
          </div>
  
          <div class="row" data-aos="fade-up">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Athanavur, Tamil Nadu 635853</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>rajesh23@gmail.com</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>9047494847</p>
              </div>
            </div>
  
          </div>
  
          <div class="row" data-aos="fade-up">
  
            <div class="col-lg-6 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3893.9440371938613!2d78.630341!3d12.585939999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3badaaea6953d385%3A0xdd248db7def716fa!2sYelagiri%20Travels!5e0!3m2!1sen!2sin!4v1706519992902!5m2!1sen!2sin" frameborder="0" style="border:0; width: 205%; height: 384px;" allowfullscreen></iframe>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->