<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="">Yelagiri travels</a></h1>

      <nav id="navbar" class="navbar">
        
        <ul>
            <li><a class="nav-link scrollto active" href="/yelagiritravels/dashboard">Home</a></li>

          <li><a class="nav-link scrollto" href="mybookings"><b>My bookings</b></a></li>

          <li class="dropdown"><a href="#"><span><b>{{user.username}}</b></span> <i class="bi bi-chevron-right"></i></a>
            
           <ul>
              <li><a href="/signout"><b>Signout</b></a></li>
           </ul> 
          </li>
        </ul>
       </li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
    
  </header>